@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    @apply bg-slate-900 text-slate-200 antialiased;
  }
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/RedHatDisplay-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./assets/fonts/RedHatDisplay-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./assets/fonts/RedHatDisplay-Bold.ttf) format('truetype');
}
